<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>siriushq/trivialnotes: Password Managing Editor</title>

	<script type="module" src="index.js"></script>
	<link rel="stylesheet" href="index.css"/>
</head>
<body v-scope @vue:mounted="load">
	<div class="actions">
		<button class="action action-insert" @click="insert()">Insert</button>
		<button class="action action-undo" @click="undo()" v-if="history.length > 0">Undo</button>
		<button class="action action-remove" @click="remove()" v-if="selected != undefined">Remove</button>
		<button class="action action-deselect" @click="selected = undefined" v-if="selected != undefined">Deselect</button>
		<button class="action action-edit" @click="editing = true" v-if="selected != undefined">Edit</button>
		<button class="action action-options" @click="options = true">Options</button>
	</div>

	<div class="modal" v-if="options" @click="options = false">
		<label @click.stop>
			<span class="label-title">Brandfetch Client ID</span>
			<span class="label-subtitle">The client ID to use for fetching account icons based on their assigned brand.</span>
			<input v-model="brandfetch" type="password"/>
		</label>
		<label @click.stop>
			<span class="label-title">History</span>
			<span class="label-subtitle">
				Below is the raw data of all saved history with passwords concealed.
				This is stored in a custom comparative format designed for this editor.
				Use a plain text editor to modify or remove if the data is too large or has inconsistencies.
			</span>
			<code><pre>{{ JSON.stringify(history, null, "\t") }}</pre></code>
		</label>
	</div>

	<div class="modal" v-if="editing" v-scope="{ changes: { ...content[selected] } }">
		<label>
			<span class="label-title">Display name</span>
			<span class="label-subtitle">An alias to name the account with.</span>
			<input v-model="changes.account" type="text"/>
		</label>
		<label>
			<span class="label-title">Brand name</span>
			<span class="label-subtitle">This is used when calling Brandfetch to get the icon, and also displayed next to the account name.</span>
			<input v-model="changes.brand" type="text"/>
		</label>
		<label>
			<span class="label-title">Username or Email</span>
			<span class="label-subtitle">Either a username or email (detects as email if it contains an '@'), use a custom field if you need both.</span>
			<input v-model="changes.username" type="text"/>
		</label>
		<label>
			<span class="label-title">Password</span>
			<span class="label-subtitle">A password in plain text (this is obscured when displayed). Use "N/A" to exclude.</span>
			<input v-model="changes.password" type="text"/>
		</label>
		<label>
			<span class="label-title">Custom fields</span>
			<span class="label-subtitle">
				Configure any other custom fields below. They will always be displayed in plain text.
				Reserved keywords include "index", "account", "brand", "username" & "password".
				Field names are case-sensitive, so you can also use a field name such as "Username".
			</span>
			<span class="label-subtitle">
				<template v-for="([key, value]) in filtered(changes, ['index', 'account', 'brand', 'username', 'password'])">
					<br/>
					<span>"{{ key }}": </span>
					<input type="text" v-model="changes[key]" placeholder="Value"/>
					<button class="action action-remove" @click="delete changes[key]">Remove</button>
				</template>
				<span v-scope="{ newKey: '' }">
					<br/>
					<input type="text" v-model="newKey" placeholder="New Key"/>
					<button class="action action-key" @click="{ changes[newKey] = 'N/A'; newKey = ''; }">Insert new key</button>
				</span>
			</span>
		</label>
		<div class="editor-actions">
			<button class="action action-save" @click="edits(selected, changes); editing = false;">Save</button>
			<button class="action action-cancel" @click="editing = false; selected = undefined;">Cancel</button>
		</div>
	</div>

	<div class="accounts">
		<div v-for="account in content" @click="selected = account.index" :class="(selected != account.index) ? 'account' : 'account selected'">
			<div class="account-name">
				<img :src="`https://cdn.brandfetch.io/${account.brand}/w/32/h/32?c=${brandfetch}`" width="32" height="32" draggable="false"/>
				{{ account.account }}
				<small>{{ account.brand }}</small>
			</div>
			<div class="account-field">
				<strong>{{ account.username.includes("@") ? "Email" : "Username" }}</strong><br/>
				{{ account.username }}
			</div>
			<div class="account-field">
				<strong>Password</strong><br/>
				{{ (account.password === "N/A") ? "N/A" : obscure(account.password) }}
			</div>
			<template v-for="([key, value]) in filtered(account, ['index', 'account', 'brand', 'username', 'password'])">
				<div class="account-field" v-show="value">
					<strong>{{ key }}</strong><br/>
					{{ value }}
				</div>
			</template>
		</div>
	</div>
</body>
</html>